body{
  background-color: rgba(0, 0, 0, 0.831);
  color: white;
}
nav{
  display: flex;
  justify-content: space-around;
  font-size: x-large;
  font-weight: bolder;
}

.book-heading{
  width: fit-content;
  margin: auto;
  text-decoration: underline;
}

.book-page{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.book-detail{
  background-color: black;
  display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 520px;
    width: 250px;
    margin: 15px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 1px 2px 15px white
}

.book-detail img{
  width: 250px;
  height: 300px;
}

.btn{
  width: 50%;
  margin: 10px auto;
  height: 30px;
  background-color: #1b34d0f7;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 11px lightblue;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover{
  background-color: #1b33d0af;

}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:not-allowed;
}
.nav-link{
  text-decoration: none;
  color: black;
}

.profile-container{
  width: fit-content;
  margin: auto;
}